[Unit]
Description=hipache-redis

[Service]
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker kill hipache-redis-%i
ExecStartPre=-/usr/bin/docker rm hipache-redis-%i
ExecStartPre=/bin/sh -c \
	"docker history redis:latest >/dev/null || \
	docker pull redis:latest"

ExecStart=/usr/bin/docker run --rm \
    --name hipache-redis-%i \
    -p 6379:6379 \
    redis

ExecStop=/usr/bin/docker stop %p

SyslogIdentifier=%p

[X-Fleet]
Conflicts=hipache-redis@*.service
MachineOf=hipache@%i.service
