[Unit]
Description=Hipache
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill hipache-%i
ExecStartPre=-/usr/bin/docker rm hipache-%i
ExecStartPre=/usr/bin/docker pull keymon/tsuru-dockerfiles

ExecStartPre=/bin/sh -c \
	"docker history keymon/tsuru-dockerfiles:latest >/dev/null || \
	docker pull keymon/tsuru-dockerfiles:latest"

ExecStart=/usr/bin/docker run --rm \
    --name hipache-%i \
    --link hipache-redis-%i:hipache-redis \
    -p 8080:8080 \
    keymon/tsuru-dockerfiles \
    /etc/init.d/hipache start

ExecStop=/usr/bin/docker stop hipache-%i

[X-Fleet]
Conflicts=hipache@*.service
MachineMetadata=role=router

